#about-page {
  background-color: #222;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.main-program {
  color: white;
  text-align: center;
  padding: 30px;
  position: relative;
}

.main-program > span {
  display: block;
  margin-bottom: 10px;
}

.title-border {
  height: 2px;
  width: 60px;
  display: block;
  background-color: red;
  margin: 0 auto;
}

.program-box-wrapper {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.program-box {
  display: flex;
  background-color: #393c43;
  padding: 20px;
  align-items: center;
}

.program-icon {
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
}

.program-icon > i {
  font-size: 30px;
  color: #fff;
  margin: auto;
  width: 64px;
  height: 64px;
}

.program-name {
  color: #ef513c;
  font-size: 14px;
  font-weight: bold;
  flex: 0.5;
  height: 50px;
  margin-bottom: 20px;
}

.program-description {
  font-size: 13px;
  text-align: left;
  color: #fff;
  flex: 1;
}

.button {
  font-size: 20px;
  background-color: #ec5242;
  color: #fff;
  text-align: center;
  padding: 40px;
  align-items: center;
  margin: 0 40px;
}

.whole-program {
  display: none;
}

.whole-program a {
  color: #fff;
  text-decoration: underline;
}

@media only screen and (min-width: 768px) {
  .section-wrapper {
    width: 900px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .program-box-wrapper {
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    text-align: center;
  }

  .program-box {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #393c43;
    padding: 20px;
    width: 18%;
    word-break: break-word;
  }

  .program-name {
    color: #ec5242;
    font-size: 14px;
  }

  .program-description {
    font-size: 13px;
    color: white;
    text-align: center;
  }

  .button {
    display: none;
  }

  .whole-program {
    display: block;
    text-align: center;
  }
}
