* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'COCOGOOSE', sans-serif;
}

#home-page {
  background-color: #f4f4f4;
  padding-bottom: 100px;
}

.hello-world {
  margin-bottom: 10px;
  padding-top: 60px;
  font-size: 24px;
  color: #ec5242;
  font-family: 'Lato', sans-serif;
}

.h1-line > span {
  display: block;
  text-transform: uppercase;
  font-size: 36px;
  color: #ec5242;
  font-weight: 700;
}

.summary-block {
  border: 1px solid #fff;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  color: #000;
}

.date {
  font-size: 32px;
  color: #423f3f;
  font-weight: 700;
}

.venue {
  font-family: 'Lato', sans-serif;
}


/* Mobile css - 768px and below */
@media only screen and (max-width: 768px) {
  .fixed-header {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  .section-wrapper {
    width: 100%;
  }

  .program-box-wrapper {
    flex-direction: column;
  }

  .program-box {
    text-align: left;
    display: flex;
    gap: 20px;
  }

  .speaker-column {
    display: inline-grid;
  }

  .page-wrapper {
    height: 100% !important;
  }
}
