@media only screen and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    margin-left: 12px;
  }

  .light-bg {
    background-color: cyan;
    opacity: 60%;
    padding-bottom: 80px;
    padding: 40px;
    padding-bottom: 80px;
  }

  .hello-world {
    padding-top: 60px;
    font-size: 24px;
    color: #ec5242;
    font-family: 'Lato', sans-serif;
  }

  .h1-line {
    font-size: 36px;
    color: #ec5242;
  }

  .box {
    margin-top: 24px;
    margin-bottom: 24px;
    border: 8px solid red;
    background-color: lightgray;
  }

  .box>p {
    font-size: 18px;
    color: green;
    ;
  }

  .box>a {
    font-size: 18px;
    color: green;
    ;
  }

  .date {
    font-size: 32px;
    color: #423f3f;
    font-weight: 700;
  }

  .light-bg a {
    color: black;
  }
